<div class="auth-layout">

    <div class="auth-left">

        <div class="brand">
            <h1>Facility Ops AI</h1>
        </div>

        <div class="welcome-content">
            <h2>Manage your facilities smarter.</h2>

            <p>
                Streamline facility operations with intelligent
                tools and real-time insights.
            </p>
        </div>

    </div>


    <div class="auth-right">

        <div class="auth-container">

            <router-outlet></router-outlet>

        </div>

    </div>

</div>